<show-menu></show-menu>

<div class="container-fluid">
    <h2>{{title}}</h2>
    <form method="POST" class="form-horizontal" [formGroup]="showForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="czechName">Czech name</label>

                <div class="col-sm-10">
                    <input type="text" name="czechName" id="czechName" class="form-control" formControlName="czechName"/>
                    <span class="error" *ngIf="formErrors.czechName">{{formErrors.czechName}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="originalName">Original name</label>

                <div class="col-sm-10">
                    <input type="text" name="originalName" id="originalName" class="form-control" formControlName="originalName"/>
                    <span class="error" *ngIf="formErrors.originalName">{{formErrors.originalName}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="csfd">ČSFD</label>

                <div class="col-sm-10">
                    <input type="text" name="csfd" id="csfd" class="form-control" formControlName="csfd"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="imdb">IMDB</label>

                <div class="col-sm-10">
                    <input type="checkbox" name="imdb" id="imdb" formControlName="imdb"/>
                    <div id="imdbPanel" *ngIf="imdb">
                        <input type="number" name="imdbCode" id="imdbCode" min="1" max="9999999" step="1" class="form-control" formControlName="imdbCode"/>
                        <span class="help-inline error" *ngIf="formErrors.imdbCode">{{formErrors.imdbCode}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="wikiCz">Czech Wikipedia</label>

                <div class="col-sm-10">
                    <input type="text" name="wikiCz" id="wikiCz" class="form-control" formControlName="wikiCz"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="wikiEn">English Wikipedia</label>

                <div class="col-sm-10">
                    <input type="text" name="wikiEn" id="wikiEn" class="form-control" formControlName="wikiEn"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="picture">Picture</label>

                <div class="col-sm-10">
                    <input type="text" name="picture" id="picture" class="form-control" formControlName="picture"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="note">Note</label>

                <div class="col-sm-10">
                    <input type="text" name="name" id="note" class="form-control" formControlName="note"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="genres">Genres</label>

                <div class="col-sm-10">
                    <select multiple="multiple" name="genres" id="genres" formControlName="genres" class="form-control">
                        <option *ngFor="let genre of genres; let i = index" [ngValue]="i">{{genre.name}}</option>
                    </select>
                    <span class="error" *ngIf="formErrors.genres">{{formErrors.genres}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="create" class="btn btn-primary">{{submitButtonValue}}</button>
                    <button type="button" name="cancel" class="btn btn-danger" formnovalidate="formnovalidate" routerLink="{{returnUrl}}">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
