<show-menu></show-menu>

<div class="container-fluid">
    <h2>Shows</h2>
    <table class="table table-hover" *ngIf="shows && shows.length > 0">
        <thead>
            <tr>
                <th>Czech name</th>
                <th>Original name</th>
                <th>Genres</th>
                <th>Count of seasons</th>
                <th>Count of episodes</th>
                <th>Total length</th>
                <th>Picture</th>
                <th>Note</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let show of shows; let i = index">
                <td>{{show.show.czechName}}</td>
                <td>{{show.show.originalName}}</td>
                <td>
                    <show-genres [show]="show.show"></show-genres>
                </td>
                <td>{{show.seasonsCount}}</td>
                <td>{{show.episodesCount}}</td>
                <td>{{show.totalLength}}</td>
                <td>{{show.show.picture}}</td>
                <td>{{show.show.note}}</td>
                <td>
                    <a *ngIf="show.show.csfd" href="http://www.csfd.cz/film/{{show.show.csfd}}" target="_blank">ČSFD</a>
                </td>
                <td>
                    <a *ngIf="show.show.imdbCode > 0" href="http://www.imdb.com/title/tt{{show.show.imdbCode}}" target="_blank">IMDB</a>
                </td>
                <td>
                    <a *ngIf="show.show.wikiCz" href="http://cz.wikipedia.org/wiki/{{show.show.wikiCz}}" target="_blank">Czech Wikipedia</a>
                </td>
                <td>
                    <a *ngIf="show.show.wikiEn" href="http://en.wikipedia.org/wiki/{{show.show.wikiEn}}" target="_blank">English Wikipedia</a>
                </td>
                <td><a routerLink="/shows/{{show.show.id}}/seasons/list">Seasons</a></td>
                <td><a class="link" (click)="moveUp(show.show)" *ngIf="i > 0">Move up</a></td>
                <td><a class="link" (click)="moveDown(show.show)" *ngIf="i < shows.length - 1">Move down</a></td>
                <td><a class="link" (click)="duplicate(show.show)">Duplicate</a></td>
                <td><a class="link" (click)="update(show.show)">Edit</a></td>
                <td><a class="link" (click)="remove(show.show)">Remove</a></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!shows || shows.length == 0">No records.</div>
    <table class="table">
        <thead>
            <tr>
                <th>Count of shows</th>
                <th>Count of seasons</th>
                <th>Count of episodes</th>
                <th>Total length</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngIf="shows">{{shows.length}}</td>
                <td *ngIf="!shows">0</td>
                <td *ngIf="seasonsCount">{{seasonsCount}}</td>
                <td *ngIf="!seasonsCount">0</td>
                <td *ngIf="episodesCount">{{episodesCount}}</td>
                <td *ngIf="!episodesCount">0</td>
                <td *ngIf="totalLength">{{totalLength}}</td>
                <td *ngIf="!totalLength">0:00:00</td>
            </tr>
        </tbody>
    </table>
</div>
