<song-menu></song-menu>

<div class="container-fluid">
    <h2>{{title}}</h2>
    <form method="POST" class="form-horizontal" [formGroup]="songForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Name</label>

                <div class="col-sm-10">
                    <input type="text" name="name" id="name" class="form-control" formControlName="name"/>
                    <span class="error" *ngIf="formErrors.name">{{formErrors.name}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Length</label>
            </div>
            <!--TODO vladimir.hromada : length-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label" for="hours">Hours</label>-->

            <!--<div class="col-sm-10">-->
            <!--<form:input type="number" name="hours" id="hours" path="length.hours" min="0" max="23" step="1" cssClass="form-control"/>-->
            <!--<span class="error"><form:errors path="length.hours"/></span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label" for="minutes">Minutes</label>-->

            <!--<div class="col-sm-10">-->
            <!--<form:input type="number" name="minutes" id="minutes" path="length.minutes" min="0" max="59" step="1" cssClass="form-control"/>-->
            <!--<span class="error"><form:errors path="length.minutes"/></span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label" for="seconds">Seconds</label>-->

            <!--<div class="col-sm-10">-->
            <!--<form:input type="number" name="seconds" id="seconds" path="length.seconds" min="0" max="59" step="1" cssClass="form-control"/>-->
            <!--<span class="error"><form:errors path="length.seconds"/></span>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="note">Note</label>

                <div class="col-sm-10">
                    <input type="text" name="name" id="note" class="form-control" formControlName="note"/>
                    <span class="error" *ngIf="formErrors.note">{{formErrors.note}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="create" class="btn btn-primary">{{submitButtonValue}}</button>
                    <button type="button" name="cancel" class="btn btn-danger" formnovalidate="formnovalidate" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
