<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Catalog</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a routerLink="/movies/list">Movies</a>
            <li><a routerLink="/shows/list">Shows</a>
            <li><a routerLink="/games/list">Games</a>
            <li><a routerLink="/music/list">Music</a>
            <li><a routerLink="/programs/list">Programs</a>
            <li><a routerLink="/genres/list">Genres</a>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
