<movie-menu></movie-menu>

<div class="container-fluid">
    <h2>{{title}}</h2>
    <form method="POST" class="form-horizontal" [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="czechName">Czech name</label>

                <div class="col-sm-10">
                    <input type="text" name="czechName" id="czechName" class="form-control" formControlName="czechName"/>
                    <span class="error" *ngIf="formErrors.czechName">{{formErrors.czechName}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="originalName">Original name</label>

                <div class="col-sm-10">
                    <input type="text" name="originalName" id="originalName" class="form-control" formControlName="originalName"/>
                    <span class="error" *ngIf="formErrors.originalName">{{formErrors.originalName}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="year">Year</label>

                <div class="col-sm-10">
                    <input type="number" name="year" id="year" min="1930" max="2500" step="1" class="form-control" formControlName="year"/>
                    <span class="error" *ngIf="formErrors.year">{{formErrors.year}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Language</label>

                <div class="col-sm-10">
                    <label class="radio custom" *ngFor="let language of languages">
                        <input type="radio" name="language" formControlName="language" [value]="language"/>
                        {{language}}
                    </label>
                    <span class="error" *ngIf="formErrors.language">{{formErrors.language}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Subtitles</label>

                <div class="col-sm-10" formArrayName="subtitles">
                    <div *ngFor="let sub of movieForm.controls.subtitles.controls; let i = index">
                        <label class="checkbox custom" [formGroupName]="i">
                            <input type="checkbox" name="subtitles" formControlName="value">
                            {{sub.value.name}}
                        </label>
                    </div>
                    <span class="error" *ngIf="formErrors.subtitles">{{formErrors.subtitles}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Media</label>
            </div>

            <div formArrayName="media">
                <div *ngFor="let medium of movieForm.controls.media.controls; let i = index">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Medium {{i + 1}}</label>
                        <button type="button" name="remove{{i}}" class="btn btn-danger col-sm-1" formnovalidate="formnovalidate" (click)="removeMedium(i)"
                                *ngIf="i > 0">Remove</button>
                    </div>
                    <div [formGroupName]="i">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="medium{{i + 1}}Hours">Medium {{i + 1}} hours</label>

                            <div class="col-sm-10">
                                <input type="number" name="medium{{i + 1}}Hours" id="medium{{i + 1}}Hours" min="0" max="23" step="1" class="form-control"
                                       formControlName="hours"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="medium{{i + 1}}Minutes">Medium {{i + 1}} minutes</label>

                            <div class="col-sm-10">
                                <input type="number" name="medium{{i + 1}}Minutes" id="medium{{i + 1}}Minutes" min="0" max="59" step="1" class="form-control"
                                       formControlName="minutes"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="medium{{i + 1}}Seconds">Medium {{i + 1}} seconds</label>

                            <div class="col-sm-10">
                                <input type="number" name="medium{{i + 1}}Seconds" id="medium{{i + 1}}Seconds" min="0" max="59" step="1" class="form-control"
                                       formControlName="seconds"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" name="add" class="btn btn-success col-sm-offset-2 col-sm-1" formnovalidate="formnovalidate" (click)="addMedium()">Add</button>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="csfd">ČSFD</label>

                <div class="col-sm-10">
                    <input type="text" name="csfd" id="csfd" class="form-control" formControlName="csfd"/>
                    <span class="error" *ngIf="formErrors.csfd">{{formErrors.csfd}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="imdb">IMDB</label>

                <div class="col-sm-10">
                    <input type="checkbox" name="imdb" id="imdb" formControlName="imdb"/>
                    <div id="imdbPanel" *ngIf="imdb">
                        <input type="number" name="imdbCode" id="imdbCode" min="1" max="9999999" step="1" class="form-control" formControlName="imdbCode"/>
                        <span class="help-inline error" *ngIf="formErrors.imdbCode">{{formErrors.imdbCode}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="wikiCz">Czech Wikipedia</label>

                <div class="col-sm-10">
                    <input type="text" name="wikiCz" id="wikiCz" class="form-control" formControlName="wikiCz"/>
                    <span class="error" *ngIf="formErrors.wikiCz">{{formErrors.wikiCz}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="wikiEn">English Wikipedia</label>

                <div class="col-sm-10">
                    <input type="text" name="wikiEn" id="wikiEn" class="form-control" formControlName="wikiEn"/>
                    <span class="error" *ngIf="formErrors.wikiEn">{{formErrors.wikiEn}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="picture">Picture</label>

                <div class="col-sm-10">
                    <input type="text" name="picture" id="picture" class="form-control" formControlName="picture"/>
                    <span class="error" *ngIf="formErrors.picture">{{formErrors.picture}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="note">Note</label>

                <div class="col-sm-10">
                    <input type="text" name="name" id="note" class="form-control" formControlName="note"/>
                    <span class="error" *ngIf="formErrors.note">{{formErrors.note}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="genres">Genres</label>

                <div class="col-sm-10">
                    <select multiple="multiple" name="genres" id="genres" class="form-control" formControlName="genres">
                        <option *ngFor="let genre of genres; let i = index" [ngValue]="i">{{genre.name}}</option>
                    </select>
                    <span class="error" *ngIf="formErrors.genres">{{formErrors.genres}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="create" class="btn btn-primary">{{submitButtonValue}}</button>
                    <button type="button" name="cancel" class="btn btn-danger" formnovalidate="formnovalidate" routerLink="{{returnUrl}}">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
